:root {
  --color-primary: #4044ee;
  --color-primary-hover: #4044ee;
  --color-bg: #0b0f19;
  --color-black: #000000;
  --color-white: #ffffff;
  --base-border-radius: 0.2rem;
  --color-bray-1: #373737;
  --color-bray-2: #5e5e5e;
}
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  /* font-weight: 400; */
}
.main-wrapper {
  background-color: var(--color-bg);
  padding: 1.5rem;
  color: var(--color-white);
}
.form-container,
.table-wrapper {
  padding: 1rem;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container button {
  width: 200px;
  box-sizing: border-box;
  padding: 0.5rem;
  background-color: var(--color-primary);
  border-radius: var(--base-border-radius);
  border: none;
}
.form-container button:hover {
  background-color: var(--color-primary-hover);
}

.form-container input {
  width: 200px;
  box-sizing: border-box;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: var(--base-border-radius);
  border: 1px #ccc solid;
}
.table-wrapper table {
  width: 100%;
}

.table-wrapper thead {
  width: 100%;
  background-color: var(--color-bray-1);
}
.table-wrapper thead th {
  padding: 0.5rem;
}

.table-wrapper tbody td,
.table-wrapper thead {
  padding: 0.5rem;
  text-align: left;
}
.table-wrapper tbody {
  background-color: var(--color-bray-2);
}
